/* Шрифты */
@font-face {
  font-family: "Circular Std";
  src: url("fonts/CircularStd-Bold.eot");
  src: local("CircularStd-Bold"),
    url("fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/CircularStd-Bold.woff2") format("woff2"),
    url("fonts/CircularStd-Bold.woff") format("woff"),
    url("fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("fonts/CircularStd-Medium.eot");
  src: local("CircularStd-Medium"),
    url("fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/CircularStd-Medium.woff2") format("woff2"),
    url("fonts/CircularStd-Medium.woff") format("woff"),
    url("fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("fonts/CircularStd-Book.eot");
  src: local("CircularStd-Book"),
    url("fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"),
    url("fonts/CircularStd-Book.woff2") format("woff2"),
    url("fonts/CircularStd-Book.woff") format("woff"),
    url("fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(225px, 12%) 1fr;
  grid-template-rows: 64px 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Circular Std", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.side-menu {
  display: flex;
  flex-direction: column;
  padding: 40px 16px 40px 24px;
  background-color: #030303;
}

.side-menu.wrapper__element{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.menu.side-menu__element {
  margin: 40px 0;
}

.menu__item {
  padding: 10px 0;
  transition: all 0.2s linear;
}

.menu__item_active,
.menu__item:hover {
  color: #fff;
}

.menu__link,
.playlists__link {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.menu__item-icon{
  fill: rgba(255, 255, 255, 0.6);
  width: 24px;
  height: 24px;
}

.menu__item-icon_active,
.menu__item:hover .menu__item-icon {
  fill: #fff;
}

.playlists__btn {
  transition: all 0.2s linear;
}

.playlists__btn + .playlists__btn {
  margin-top: 10px;
}

.playlists__btn:hover {
  color: #fff;
}

.playlists__btn-icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.playlists__btn-icon-container_new {
  background-color: #a4a4a4;
}

.playlists__btn:hover .playlists__btn-icon-container_new {
  background-color: #fff;
}

.playlists__btn-icon-container_fav {
  background: linear-gradient(135deg, #450af5, #c4efd9);
}

.playlists__btn:hover .playlists__btn-icon_fav {
  fill: #fff;
}

.playlists__btn-icon_fav{
  fill: rgba(255, 255, 255, 0.6);
}

.main,
.header {
  background: linear-gradient(113.83deg, #121212 0.59%, #121212 99.74%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 32px;
  width: 100%;
  height: 100%;
}

.header.wrapper__element{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.header__nav-buttons,
.header__auth-buttons {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.header__nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #030303;
  cursor: pointer;
}

.header_nav-button-icon{
  fill: #fff;
  width: 20px;
  height: 20px;
}

.header__sign-up-button,
.header__log-in-button {
  padding: 8px 34px;
  font-weight: 700;
  letter-spacing: 1.76px;
}

.header__sign-up-button {
  color: #fff;
}

.header__log-in-button {
  color: #030303;
  background-color: #fff;
  border-radius: 20px;
}

.header__sign-up-button:hover,
.header__log-in-button:hover {
  transform: scale(1.06);
}

.header__search {
  flex-grow: 1;
  padding: 0 16px;
}

.header__search-form {
  position: relative;
  max-width: 360px;
}

.header__search-input {
  padding: 8px 44px;
  width: 100%;
  border-radius: 20px;
  border: none;
}

.header__search-input:focus {
  outline: none;
}

.header__search-input::-webkit-search-cancel-button {
  display: none;
}

.header__search-icon {
  position: absolute;
  top: 3px;
  left: 10px;
}

.header__search-close-icon {
  position: absolute;
  top: 3px;
  right: 10px;
  cursor: pointer;
}

.main.wrapper__element{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.main__body {
  padding: 30px;
  height: 100%;
  overflow-y: auto;
}

.main__body::-webkit-scrollbar {
  width: 5px;
}

.main__body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
}

.main__row {
  display: flex;
  flex-direction: column;
  margin: 24px 0 48px 0;
  row-gap: 24px;
}

.main__row:first-child{
  margin-top: 0;
}

.main__row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__row-link {
  text-decoration: none;
}

.main__row-link:hover {
  text-decoration: underline;
}

.main__btn {
  padding: 0 10px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.main__btn:hover {
  color: #fff;
}

.main__row-body {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}

.main__item {
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.main__item_rect {
  display: flex;
  flex-direction: column;
  max-height: 280px;
  max-width: 205px;
  transition: all 0.2s linear;
  background-color: #252525;
}

.main__item_rect-xl {
  width: 100%;
  max-width: none;
  max-height: 430px;
}

.main__item_square {
  height: 205px;
  width: 205px;
}

.main__item_square:nth-child(1n) {
  background-color: rgb(39, 133, 106);
}

.main__item_square:nth-child(2n) {
  background-color: rgb(30, 50, 100);
}

.main__item_square:nth-child(3n) {
  background-color: rgb(141, 103, 171);
}

.main__item_square:nth-child(4n) {
  background-color: rgb(230, 30, 50);
}

.main__item_rect:hover,
.track:hover {
  background-color: #383838;
}

.main__item-img-conteiner {
  max-width: 175px;
  max-height: 175px;
}

.main__item-img {
  max-width: 100%;
  height: auto;
}

.main__item-title {
  margin: 16px 0 6px 0;
  color: #fff;
}

.main__item-title_xl {
  font-size: 24px;
}

.main__item-title,
.main__item-description,
.track__song-name,
.track__author-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main__search-result {
  display: flex;
  column-gap: 20px;
  margin-bottom: 50px;
}

.main__search-result-best {
  flex: 0 0 30%;
}

.main__item-artist {
  color: #fff;
}

.not-displayed {
  display: none;
}

.main__search-result-tracks {
  flex-grow: 1;
}

.track-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.track {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  border-radius: 15px;
}

.track__img-container {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.track__img {
  max-width: 100%;
  height: auto;
}

.track__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 5px;
  font-size: 16px;
}

.track__song-name {
  color: #fff;
}

.track__time {
  justify-self: end;
}

@media screen and (max-width: 1280px) {
  .main__item_rect:nth-child(n + 5) {
    display: none;
  }
  .main__item_square:nth-child(n + 4) {
    display: none;
  }
}

@media screen and (max-width: 1600px) {
  .main__item_rect:nth-child(n + 6) {
    display: none;
  }
  .main__item_square:nth-child(n + 5) {
    display: none;
  }
}

@media screen and (max-width: 1920px) {
  .main__item_square:nth-child(n + 7) {
    display: none;
  }
}
